<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-4.4.1.min.css') }}">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">

    <!-- Custom css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/custom.css') }}">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static',filename='js/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/popper-1.6.1.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap-4.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/custom.js') }}"></script>


    <title> - {% block title %} {% endblock %}</title>
</head>


<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static',filename='images/icons/bootstrap.svg') }}" alt="" width="32" height="32"
                 title="Bootstrap">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('blog.home') }}">Blog <span class="sr-only">(current)</span></a>
                </li>

                {% if not g.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hello</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('blog.create') }}">New</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% endif %}

                {% block header %}

                {% endblock %}
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>


{% block content %}

{% endblock %}
<section class="content">
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
</section>
{% block footer %}

{% endblock %}
{% block ext_js %}

{% endblock %}

</body>
</html>